{% extends "base.html" %}
{% block content %}
<form action="/forms" method="post" class="form">
    <div>
        <select name="type-of-article" id="type-of-article">
            <option value="animals">Животное</option>
            <option value="plants">Растение</option>
        </select>
    </div>
    <div>
        <label for="title">Название: </label>
        <input type="text" name="title" id="title", placeholder="Название">
    </div>
    <div>
        <label for="desc">Описание</label>
        <input type="text" name="desc" id="desc", placeholder="Описание">
    </div>
    <div>
        <label for="img">Фото:</label>
        <input type="text" name="img" id="img">
    </div>
    <div>
        <label for="vids">Виды: </label>
        <input type="text" name="vids" id="vids", placeholder="Виды">
    </div>
    <input type="submit" value="Отправить">
</form>
{% endblock %}